{% extends "base.html" %}

{% block content %}
%header
    .mobile-nav-box
    .page-header
        %h1
            TICK
            %small
                A repository of instructional lesson plans, activities, and resources for teachers in Kentucky

.row
    .span3
        .well.sub-nav-well
            %ul.nav.nav-list.sub-nav
                %li.nav-header TICK Links
                %li
                    %a{:href => "{% url tick_index %}"}
                        %i.icon-black.icon-home
                        TICK Home
                %li
                    %a{:href => "{% url tick_about %}"}
                        %i.icon-black.icon-info-sign
                        About TICK
                %li
                    %a{:href => "{% url tick_news %}"}
                        %i.icon-black.icon-comment
                        News
                %li
                    %a{:href => "{% url tick_prizes %}"}
                        %i.icon-black.icon-gift
                        Prizes
                %li
                    %a{:href => "{% url tick_favorite_list %}"}
                        %i.icon-black.icon-bookmark
                        Favorites
                
                {% if request.user.is_authenticated %}
                %li.nav-header My Resources
                %li
                    %a{:href => "{% url tick_submitted %}"}
                        %i.icon-black.icon-book
                        Submitted
                %li
                    %a{:href => "{% url tick_submit_step_1 %}"}
                        %i.icon-black.icon-share
                        Submit
                {% endif %}
    .span9
        {% block tick_content %}{% endblock %}
{% endblock %}