{% extends "base.html" %}
{% load title %}

{% block title %}{% title "About" %}{% endblock %}


{% block content %}

.page-header
            %h2 About Kate

.row
    .span7
        <h3>Mission</h3> 
        <p>The mission of the Kentucky Academy of Technology Education (KATE) is to impact student learning by promoting best-practice uses of technology 
        and 21st Century Learning. KATE is committed to providing visionary leadership and high-quality resources that are readily available to educators in 
        the Commonwealth of Kentucky.</p>
        <h3>General Information</h3>
        <p>The Kentucky Academy of Technology Education was created in 1996 as a collaborative effort designed to improve instruction and learning in Kentucky 
        schools. The Academy was created and located at Murray State University as a result of an initiative sponsored by Murray State's College of Education, with Continuing Education 
        and Academic Outreach, as well as the Region One Service Center, the West Kentucky Educational Cooperative, the Rural Telecommunications Research Center, and the 
        Kentucky Department of Education. After over ten years, Kate continues to be committed to:</p>
        <ul>
            <li>Facilitating implementation of state and national standards for the use of technology in instruction</li>
            <li>Enabling teachers and students to use technology tools to solve problems and make decisions using higher-level thinking skills</li>
            <li>Sponsoring activities that promote best instructional technology practices in the classroom</li>
            <li>Providing a variety of web resources including a data repository of learning objects aligned to Kentucky curriculum documents and state and national technology standards</li>
            <li>Utilizing all available mediums for improvement of instructional technology</li>
        </ul>
        <h3>Address and Phone</h3>
        <p>The Kentucky Academy of Technology Education<br />
        Murray State University<br />
        226 Alexander Hall<br />
        Murray, KY 42071-3340</p>
        <p>Phone: 270.809.5360</p>

{% endblock %}