{% extends "base.html" %}
{% load title %}

{% block title %}{% title "Contact" %}{% endblock %}

{% block content %}

.page-header
    %h2 Contact Us

.row
    .span4
        <p><strong>Ron Milliner</strong><br /> 
        <em>Director</em><br /> 
        270.809.3985<br /> 
        <a href="mailto:rmilliner@murraystate.edu"> 
        rmilliner@murraystate.edu</a> 
        </p> 

        <p> 
        <strong> 
        Cami Knapp</strong><br /> 
        <em> 
        Instructional Development Specialist</em><br /> 
        270.809.4208<br /> 
        <a href="mailto:cammon.knapp@murraystate.edu"> 
        cknapp@murraystate.edu</a> 
        </p>
    
        <p> 
        <strong>Stephen Mizell</strong><br /> 
        <em>Web Resources Coordinator</em><br /> 
        270.809.4207<br /> 
        <a href="mailto:smizell@murraystate.edu"> 
        smizell@murraystate.edu</a> 
        </p> 
    
        <p> 
        <strong> 
        Eric Rich</strong><br /> 
        <em> 
        Data Systems Administrator</em><br /> 
        270.809.3358<br /> 
        <a href="mailto:erich@murraystate.edu"> 
        erich@murraystate.edu</a> 
        </p> 

    .span4
        <p> 
        <strong>Missy Tish</strong><br /> 
        <em> 
        Secretary</em><br /> 
        270.809.5360<br /> 
        <a href="mailto:rtish@murraystate.edu">rtish@murraystate.edu</a> 
        </p> 
        
        <p> 
        <strong> 
        Micah Sugg</strong><br /> 
        <em> 
        Technology Development Specialist</em><br /> 
        270.809.5319<br /> 
        <a href="mailto:msugg@murraystate.edu" class="reference">msugg@murraystate.edu</a> 
        </p>
        
        <p> 
        <strong> 
        Patti Oakley</strong><br /> 
        <em> 
        Instructional Development Specialist</em><br /> 
        270.809.6866<br /> 
        <a href="mailto:poakley3@murraystate.edu" class="reference">poakley3@murraystate.edu</a> 
        </p>

{% endblock %}