{% extends "base.html" %}
{% load title %}

{% block title %}{% title "TIS Websites" %}{% endblock %}

{% block content %}

.page-header
    %h2 TIS Websites

.row
    .span4
        %ul.nav.nav-tabs.nav-stacked
            %li <a href="http://www.barren.kyschools.us/olc/teacher.aspx?s=1794">Barren County Public Schools</a>
    
            %li <a href="http://bg.web1.schoolpointe.com/olc/teacher.aspx?s=991">Bowling Green Independent School District</a>
        
            %li <a href="http://ww2.bullittschools.org/technology">Bullitt County Public Schools</a>
        
            %li <a href="http://championlearnerweb20.weebly.com/">Carroll County Public Schools</a>
        
            %li <a href="http://www.ahs.dcps.org/its/index.htm">Daviess County Public Schools</a>
        
            %li <a href="http://estillcountytis.schools.officelive.com/default.aspx">Estill County Public Schools</a>
        
            %li <a href="http://technology-integration.floyd.schoolfusion.us/">Floyd County Public Schools</a>
        
            %li <a href="http://gravescountytechtools.wordpress.com/">Graves County Public Schools</a>
        
            %li <a href="http://hcslms.hardin.kyschools.us/course/view.php?id=73">Hardin County Public Schools</a>
        
            %li <a href="http://www.henderson.kyschools.us/technology/Home.aspx">Henderson County Public Schools</a>
        
            %li <a href="http://www.leslie.k12.ky.us/?DivisionID=6802&amp;DepartmentID=6692&amp;ToggleSideNav=ShowAll">Leslie County Public Schools</a>
        
            %li <a href="http://www.mberg.k12.ky.us:81/tis/index.htm">Muhlenburg County Public Schools</a>
        
            %li <a href="http://www.russellind.kyschools.us/techintegration.html">Russell Independent School District</a>
        
            %li <a href="http://www.dtc.scott.kyschools.us/technology/tech.html">Scott County Public Schools</a>

{% endblock %}