{% extends "resources/pd/base_pdresources.haml" %}

{% load title %}

- block title
    {{ pdresource.title }} - 
    - title "Resources"

{% block pdresources_content %}
.well
	.page-header
		%h2 {{ pdresource.title }}
		%small.help_text Created {{ pdresource.created }}
	{{ pdresource.body|safe }}
{% endblock %}