{% extends "katelinks/base_katelinks.haml" %}

- load title

- block title
    - title "Links" "Search"

{% block katelinks_content %}

.page-header
    %h3 Search Results
    .help_text
        %a{:href => "{% url katelinks_index %}"} Back to Links

.row
    .span8
        - for link in links
            %h4
                %a{:href => "{{ link.url }}"}
                    {{ link }}
            %p.help_text {{ link.url }}
            %p {{ link.description }}

            %hr 

{% endblock %}