{% extends "tick/base_tick.haml" %}

{% block tick_content %}

.page-header
    %h2 Edit Resource

.row
    .span6
        %form{:method => "post", :action => "{% url tick_resource_edit resource.id %}"}
            {% csrf_token %}
            {{ form.errors }}
            {% include "tick/submit/_step_1_form.haml" %}
            {% include "tick/submit/_step_2_form.haml" %}

            .form-actions
                %button.btn.btn-primary Submit

{% endblock %}