{% extends "tick/base_tick.haml" %}

{% load title %}

{% block title %}{{ resource.title }} - {% title "TICK" %}{% endblock %}

{% block tick_content %}

.row
    .span6
        %h2 {{ resource.title }}
        {{ resource.description|safe|urlizetrunc:70|linebreaks }}

        .btn-group
            {% if resource.url %}
                %a.btn{:href => "{{ resource.get_resource_url }}"}
                    %i.icon-share-alt
                    View Resource
            {% else %}
                %a.btn{:href => "{{ resource.get_resource_url }}"}
                    %i.icon-download-alt
                    Download Resource
            {% endif %}

            {% if favorite %}
                %a.btn{:href => "{% url tick_favorite_edit favorite.id %}"} 
                    %i.icon-edit
                    Edit Favorite
            {% else %}
                %a.btn{:href => "{% url tick_favorite_add resource.id %}"}
                    %i.icon-bookmark
                    Make Favorite
            {% endif %}

            {% if request.user.is_staff %}
                %a.btn{:href => "{% url admin:tick_resource_change resource.id %}"} 
                    %i.icon-edit
                    Edit Resource
            {% endif %}

        {% if not resource.user.is_staff %}
            %br
            %p
                %small
                    Contributed by 
                    <a href="{% url userena_profile_detail resource.user.username %}">{{ resource.user.username }}</a>
        {% endif %}

        {% if resource.content_standards.all %}
            %hr
            %h5 Kentucky Core Content
            {% for content_standard in resource.content_standards.all %}{% if not forloop.first %}, {% endif %}
                <a href="#" rel="popover" data-original-title="{{ content_standard }}" data-content="{{ content_standard.description }}">{{ content_standard }}</a>{% endfor %}
        {% endif %}

        {% if resource.common_core_standards.all %}
            %hr
            %h5 Common Core Content

            {% for common_core in resource.common_core_standards.all %}{% if not forloop.first %}, {% endif %}
                <a href="#" rel="popover" data-original-title="{{ common_core }}" data-content="{{ common_core.description }}">{{ common_core }}</a>{% endfor %}
        {% endif %}

        {% if resource.tech_standards.all %}
            %hr
            %h5 ISTE Technology Standards
            %p
                {% for tech_standard in resource.tech_standards.all %}{% if not forloop.first %}, {% endif %}
                    <a href="#" rel="popover" data-original-title="{{ tech_standard }}" data-content="{{ tech_standard.description }}" data-position="top">{{ tech_standard }}</a>{% endfor %}
        {% endif %}
        
        {% if resource.source %}
            %hr
            %h5 Source
            {{ resource.source|safe|urlizetrunc:"40"|linebreaks }}
        {% endif %}

    .span2.offset1
        %h6 Focus
        %p {{ resource.focus.name }}

        %h6 Sub Focus
        %p {{ resource.sub_focus.name }}

        %h6 Technology Component
        %p {{ resource.tech_component.name }}
        
        %h6 Technology Sub Component
        %p {{ resource.tech_sub_component.all|join:", " }}
        
        %h6 Content Areas
        %p {{ resource.content_areas.all|join:", " }}
        
        %h6 Subject Levels
        %p {{ resource.levels.all|join:", " }}

{% endblock %}