.span3.offset1
	%h4 Subject
	.empty
    %ul.nav.nav-tabs.nav-stacked
        %li <a href="{% url common_core_subject "LA" %}">English language Arts</a>
        %li <a href="{% url common_core_subject "MA" %}">Mathematics</a>