{% extends "standards/base_standards.haml" %}
{% load title %}

{% block title %}{% title "Standards" %}{% endblock %}

{% block standards_content %}

.row
    .span7
        %h3
            National Technology Standards
            %small
                <a href="http://www.iste.org/">http://www.iste.org/</a>

        %p NETS Technology Foundation Standards for Students

        %ol
            %li <strong>Creativity and Innovation</strong>.&nbsp; Students demonstrate creative thinking, construct knowledge, and develop innovative products and processes using technology.

            %li <strong>Communication and Collaboration</strong>.&nbsp; Students use digital media and environments to communicate and work collaboratively, including at a distance, to support individual learning and contribute to the learning of others.
            
            %li <strong>Research and Information Fluency</strong>.&nbsp; Students apply digital tools to gather, evaluate, and use information.

            %li <strong>Critical Thinking, Problem-Solving &amp; Decision-Making</strong>.&nbsp; Students use critical thinking skills to plan and conduct research, manage projects, solve problems and make informed decisions using appropriate digital tools and resources.
            
            %li <strong>Digital Citizenship</strong>.&nbsp; Students understand human, cultural, and societal issues related to technology and practice legal and ethical behavior.
            
            %li <strong>Technology Operations and Concepts</strong>.&nbsp; Students demonstrate a sound understanding of technology concepts, systems and operations.
            
        %h4 Educational Technology Standards and Performance Indicators for All Teachers 

        %ol
            %li <strong>Facilitate and Inspire Student Learning and Creativity.&nbsp; </strong>Teachers use their knowledge of subject matter, teaching and learning, and technology to facilitate experiences that advance student learning, creativity, and innovation in both face-to-face and virtual environments.

            %li <strong>Design and Develop Digital-Age Learning Experiences and Assessments. </strong>Teachers design, develop, and evaluate authentic learning experiences and assessments incorporating contemporary tools and resources to maximize content learning in context and to develop the knowledge, skills, and attitudes identified in the NETS&bull;S.

            %li <strong>Model Digital-Age Work and Learning. </strong>Teachers exhibit knowledge, skills, and work processes representative of an innovative professional in a global and digital society.

            %li <strong>Promote and Model Digital Citizenship and Responsibility.</strong> Teachers understand local and global societal issues and responsibilities in an evolving digital culture and exhibit legal and ethical behavior in their professional practices.

            %li <strong>Engage in Professional Growth and Leadership.</strong> Teachers continuously improve their professional practice, model lifelong learning, and exhibit leadership in their school and professional community by promoting and demonstrating the effective use of digital tools and resources.

        %h4 Educational Technology Standards and Performance Indicators for Administrators 

        %ol
            %li <strong>Leadership and Vision</strong>. Educational leaders inspire a shared vision for comprehensive integration of technology and foster an environment and culture conducive to the realization of that vision.

            %li <strong>Learning and Teaching</strong>. Educational leaders ensure that curricular design, instructional strategies, and learning environments integrate appropriate technologies to maximize learning and teaching.

            %li <strong>Productivity and Professional Practice</strong>. Educational leaders apply technology to enhance their professional practice and to increase their own productivity and that of others.

            %li <strong>Support, Management, and Operations</strong>. Educational leaders ensure the integration of technology to support productive systems for learning and administration.

            %li <strong>Assessment and Evaluation</strong>. Educational leaders use technology to plan and implement comprehensive systems of effective assessment and evaluation.

            %li <strong>Social, Legal, and Ethical Issues</strong>. Educational leaders understand the social, legal, and ethical issues related to technology and model responsible decision-making related to these issues.

        %h3 Kentucky Standards

        %p <a href="http://kyepsb.net/documents/EduPrep/Kentuckyteacherstandards.doc">Kentucky Teacher Standards</a>

        <ul>
            <li>Standard 1: The teacher demonstrates applied content knowledge</li>
            <li>Standard 2: The teacher designs and plans instruction</li>
            <li>Standard 3: The teacher creates and maintains learning climate</li>
            <li>Standard 4: The teacher implements and manages instruction</li>
            <li>Standard 5: The teacher assesses and communicates learning results</li>
            <li>Standard 6: The teacher demonstrates the implementation of technology</li>
            <ul>
                <li>6.1 Uses available technology to design and plan instruction</li>
                <li>6.2 Uses available technology to implement instruction that facilitates student learning</li>
                <li>6.3 Integrates student use of available technology into instruction</li>
                <li>6.4 Uses available technology to assess and communicate student learning</li>
                <li>6.5 Demonstrates ethical and legal use of technology<br />
                </li>
            </ul>
            <li>Standard 7: Reflects on and evaluates teaching and learning </li>
        </ul>

        <p>
        IECE Standards (Interdisciplinary Early Childhood Education Teacher Performance Standards) <a href="http://www.kyepsb.net/teacherprep/iecestandards.asp" class="reference">http://www.kyepsb.net/teacherprep/iecestandards.asp</a> 
        </p>
        <ul class="simple">
            <li>Standard 1: Designs/Organizes Instruction</li>
            <li>Standard 2: Creates/Maintains Learning Climates</li>
            <li>Standard 3: Implements/Manages Instruction</li>
            <li>Standard 4: Assesses &amp; Communicates Learning Results</li>
            <li>Standard 5: Reflects/Evaluates Teaching/Learning</li>
            <li>Standard 6: Collaborates with Colleagues/Parents/Others</li>
            <li>Standard 7: Engages in Professional Development</li>
            <li>Standard 8: Supports Families</li>
        </ul>
        <p>
        Also See: 
        </p>
        <p><a href="http://education.ky.gov/curriculum/docs/Pages/default.aspx" class="reference">KDE&#39;s Curriculum Documents and Resources</a></p>

    .span4.offset1
        %h3 Core Content

        %ul.nav.nav-tabs.nav-stacked
            %li <a href="{% url standards_corecontent "AH" %}">Arts &amp; Humanities</a>
            %li <a href="{% url standards_corecontent "MA" %}">Mathematics</a>
            %li <a href="{% url standards_corecontent "PL" %}">Practical Living/Vocational Studies</a>
            %li <a href="{% url standards_corecontent "RE" %}">Reading</a>
            %li <a href="{% url standards_corecontent "SC" %}">Science</a>
            %li <a href="{% url standards_corecontent "SS" %}">Social Studies</a>
            %li <a href="{% url standards_corecontent "WR" %}">Writing</a>

        %h3 Common Core State Standards

        %ul.nav.nav-tabs.nav-stacked
            %li <a href="http://kate.murraystate.edu/media/standards/CCSSI_ELA_Standards.pdf">English/Language Arts PDF Document</a>
            %li <a href="http://kate.murraystate.edu/media/standards/ELA_Bookmarked_Crosswalk_07152010_1233.pdf">English/Language Arts Crosswalk</a>
            %li <a href="http://kate.murraystate.edu/media/standards/CCSSI_Math_Standards.pdf">Mathematics PDF Document</a>
            %li <a href="http://kate.murraystate.edu/media/standards/Mathematics_Bookmarked_Crosswalk_07192010_0226.pdf">Mathematics Crosswalk</a>
            %li <a href="http://kate.murraystate.edu/media/standards/common_core_standards.xls">Common Core Standards (xls)</a>
            %li <a href="http://kate.murraystate.edu/media/standards/common_core_standards.pdf">Common Core Standards (pdf)</a>


{% endblock %}