- load money

%p
    - if app.cost == 0.00 or not app.cost
        %span.label.label-info Cost: Free
    - else
        %span.label.label-success Cost: {{ app.cost|make_money }}
    %span.help_text {{ app.levels.all|join:", " }}

%p {{ app.description }}

- if app.link
    %p
        %a{:href => "{{ app.link }}"} Visit App Page