- extends "mobile_apps/base_mobile_apps.haml"

- load title
- load get_query

- block title
    - title "Mobile Apps"

- block mobile_apps_content
    .row
        .span6
            - if apps
                - for app in apps
                    %h3 
                        %a{:href => "{% url mobile_apps_view app.id %}"}
                            {{ app }}
                        - if app.for_all_areas
                            %small For all areas
                        - else
                            %small {{ app.content_areas.all|join:", " }}
                    {% include "mobile_apps/_app.haml" %}
                    %hr
            - else
                %h3 No apps
                %p There are no apps available for this search

            {% if paginator.count > 1 %}
                .pagination
                    %ul
                        {% if this_page.has_previous %}
                            %li
                                %a{:href => "{% url mobile_apps_index %}?{% get_query get_request page this_page.previous_page_number %}"} &larr;
                        {% else %}
                            %li.disabled
                                %a &larr;
                        {% endif %}

                        %li.disabled
                            %a Page {{ page }} of {{ paginator.num_pages }}

                        {% if this_page.has_next %}
                            %li
                                %a{:href => "{% url mobile_apps_index %}?{% get_query get_request page this_page.next_page_number %}"} &rarr;
                        {% else %}
                            %li.disabled
                                %a &rarr;
                        {% endif %}
            {% endif %}

        .span6
            %h3 About

            %p These mobile apps are apps used by teachers around the state for instruction and education. Each app has been put under its appropriate levels and content areas, and can be filtered using the links below.

            %p
                %a.btn.btn-success{:href => "{% url mobile_apps_submit %}"}
                    Submit a mobile app

            - if filtered
                %p
                    %a.btn{:href => "{% url mobile_apps_index %}"}
                        %i.icon-th-list
                        List all apps

            .row
                .span3
                    %h4 Free or Paid
                    %ul.nav.nav-tabs.nav-stacked
                        %li
                            <a href="{% url mobile_apps_index %}?{% get_query get_request free "all" %}">
                                - if not get_request.free
                                    %strong All
                                - else
                                    All
                            </a>
                        %li
                            <a href="{% url mobile_apps_index %}?{% get_query get_request free "1" %}">
                                - if get_request.free == "1" 
                                    %strong Free
                                - else
                                    Free
                            </a>
                        %li
                            <a href="{% url mobile_apps_index %}?{% get_query get_request free "0" %}">
                                - if get_request.free == "0"
                                    %strong Paid
                                - else
                                    Paid
                            </a>

                    %h4 Types
                    %ul.nav.nav-tabs.nav-stacked
                        %li
                            <a href="{% url mobile_apps_index %}?{% get_query get_request type "all" %}">
                                - if not get_request.type
                                    %strong All
                                - else
                                    All
                            </a>
                        -for type in types
                            %li
                                %a{:href => "{% url mobile_apps_index %}?{% get_query get_request type type.id %}"}
                                    - if get_request.type == type.id
                                        %strong {{ type }}
                                    - else
                                        {{ type }}

                    - if not productivity
                        %h4 Content Areas
                        %ul.nav.nav-tabs.nav-stacked
                            %li
                                <a href="{% url mobile_apps_index %}?{% get_query get_request content_areas "all" %}">
                                    - if not get_request.content_areas
                                        %strong All
                                    - else
                                        All
                                </a>
                            - for content_area in content_areas
                                %li
                                    %a{:href => "{% url mobile_apps_index %}?{% get_query get_request content_areas content_area.id %}"}
                                        - if get_request.content_areas == content_area.id
                                            %strong {{ content_area }}
                                        - else
                                            {{ content_area }}

                .span3
                    %h4 App Use
                    %ul.nav.nav-tabs.nav-stacked
                        %li
                            <a href="{% url mobile_apps_index %}?{% get_query get_request productivity "all" %}">
                                - if not get_request.productivity
                                    %strong All
                                - else
                                    All
                            </a>
                        %li
                            <a href="{% url mobile_apps_index %}?{% get_query get_request productivity "0" %}">
                                - if get_request.productivity == "0"
                                    %strong Educational
                                - else
                                    Educational
                            </a>
                        %li
                            <a href="{% url mobile_apps_index %}?{% get_query get_request productivity "1" %}">
                                - if get_request.productivity == "1"
                                    %strong Productivity
                                - else
                                    Productivity
                            </a>

                    - if not productivity
                        %h4 Levels
                        %ul.nav.nav-tabs.nav-stacked
                            %li
                                <a href="{% url mobile_apps_index %}?{% get_query get_request levels "all" %}">
                                    - if not get_request.levels
                                        %strong All
                                    - else
                                        All
                                </a>
                            - for level in levels
                                %li
                                    %a{:href => "{% url mobile_apps_index %}?{% get_query get_request levels level.id %}"}
                                        - if get_request.levels == level.id
                                            %strong {{ level }}
                                        - else
                                            {{ level }}

            