- extends "mobile_apps/base_mobile_apps.haml"

- load title

- block title
    {{ app }} -
    - title "Mobile Apps"

- block mobile_apps_content
    .row
        .span5
            %h3 
                {{ app }}
                - if app.for_all_areas
                    %small For all areas
                - else
                    %small {{ app.content_areas.all|join:", " }}

            {% include "mobile_apps/_app.haml" %}

            - if app.educational_uses
                %hr
                %h4 Educational Uses
                %p {{ app.educational_uses|linebreaks }}
                %hr

            %a.btn{:href => "{% url mobile_apps_index %}"}
               %i.icon-th-list
               List all mobile apps