{% extends "tick/base_tick.haml" %}
{% load title %}

{% block title %}{% title "TICK" "About" %}{% endblock %}

{% block tick_content %}

.row
    .span5
        %h2 About

        %p
            Welcome to the Technology in Classrooms of Kentucky (TICK) collaborative where teachers can share instructional technology resources. Technology in Classrooms of Kentucky, or TICK, is currently a repository of over 3600 learning objects (including units, lessons, files, web sites, etc.). These resources have been aligned (by professional KATE staff and a strong partnership of Kentucky teachers as well as Technology Integration Specialists) to Kentucky curriculum documents including core content and the Technology Big Ideas from the Program of Studies.

        %p
            TICK provides a single-point of access for resources specifically applicable to Kentucky educators. For example, a Google search on a topic such as fractions returns over 11 million hits, while a TICK search will only return a list with applicable instructional resources. Additional features have been added to earlier versions of TICK to allow Kentucky educators to not only acquire resources, but to also electronically share high-quality learning resources among all Kentucky education professionals.

        %p
            TICK resources ALL address Kentucky curriculum, include embedded technology, and are searchable. At KATE the clock is TICKing, because it’s time for Kentucky’s educators to have the ability to work together to provide the best learning tools educators have available for all of Kentucky’s students. This innovative tool to incorporate 21st Century technology skills into instruction and learning is completely free and collaboration in Kentucky is “TICKing!” To become an active participant in the Kentucky TICK collaboration, visit the KATE website and click on the TICK logo. Search for resources or create a login and become an active contributor.
    .span4
        %h3 Testimonials
        %p
            %em "TICK is so helpful because it provides resources that are aligned to the core content that are engaging and fun to use in the classroom."
            %br
            &#151;
            %strong Shea Walker, Christian Co.
        %p
            %em "TICK is an extraordinary resource created for Kentucky teachers by Kentucky teachers. Every item included in TICK has an instructional technology component for teachers or students. It is the first and only place I need to go to find effective technology integration for the classroom." 
            %br
            &#151;
            %strong Ashli Gore, Calloway Co.
        %p
            %em "Wow, I didn’t know the hard part had been done for me (4.1 standards and technology standards)! This is neat!"
            %br
            &#151;
            %strong 8th Grade Science Teacher, Henderson Co.

{% endblock %}