{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Disabled account" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <div class="page-header">
        <h2>{% trans "Your account has been disabled" %}</h2>
        </div>
        <p>{% trans "It seems your account has been disabled." %} We have been cleaning up the accounts
            and yours may have been disabled on accident.</p>
        <p>If you feel this is incorrect, please contact the Web Resources Coordinator by visiting the 
            <a href="{% url pages_contact %}">contact page</a>.</p>
    </div>
</div>
{% endblock %} 
