{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block userena_content %}
<div class="row">
    <div class="span6">
        <form action="" method="post">
          <h3>{% trans "Reset Password" %}</h3>
          <fieldset>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
              <button class="btn btn-primary">Send Password</button>
            </div>
          </fieldset>
        </form>
    </div>
{% endblock %}
