{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block userena_content %}
<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
  <fieldset>
    <legend>Signup</legend>
    <br />
    {% for field in form %}
      {% if field.errors %}
        <div class="alert alert-error">
          {{ field.errors|join:", " }}
        </div>
      {% endif %}
      {% comment %} Displaying checkboxes differently {% endcomment %}
      {% if field.name == 'tos' %}
        <p class="checkbox">
        <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
        </p>
      {% else %}
        {% if field.errors %}
          <div class="control-group error">
        {% else %}
          <div class="control-group">
        {% endif %}
          <label class="control-label" for="input01">{{ field.label_tag }}</label>
          <div class="controls">
            {{ field }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </fieldset>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{% trans "Signup"%}</button>
  </div>
</form>
{% endblock %}
