{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup almost done!" %}{% endblock %}

{% block content_title %}<h2>{% trans "Signup" %}</h2>{% endblock %}

{% block userena_content %}
<div class="row">
    <div class="span4">
        <p>{% trans "Thank you for signing up with us!" %}</p>

        {% if userena_activation_required %}
        <p>{% blocktrans %}You have been send an e-mail with an activation link to the supplied email.{% endblocktrans %}</p>
        {% else  %}
        <p>{% blocktrans %}You can now use the supplied credentials to signin.{% endblocktrans %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
