{% extends "resources/base_resources.haml" %}

{% load title %}

- block title
	- title "Resources"

{% block resources_content %}
	.row
		.span6
			%h3 PD Resources
			%ul.nav.nav-tabs.nav-stacked
				- for pdresource in pdresources
					%li
						%a{:href => "{{ pdresource.get_absolute_url }}"}
							{{ pdresource }}
		.span3
			%h3 Tutorials
			%ul.nav.nav-tabs.nav-stacked
				- for tutorial_category in tutorial_categories
					%li
						%a{:href => "{{ tutorial_category.get_absolute_url }}"}
							{{ tutorial_category }}

		.span3
			%h3 Educational Resources
			%ul.nav.nav-tabs.nav-stacked
				- for educational_category in edresource_categories
					%li
						%a{:href => "{{ educational_category.get_absolute_url }}"}
							{{ educational_category }}

			%h3 Kentucky Resources
			%ul.nav.nav-tabs.nav-stacked
				%li
					%a{:href =>"http://kate.murraystate.edu/resources/pdresource/89/"} Instructional Technology Practices
				%li
					%a{:href =>"http://education.ky.gov/Pages/default.aspx"} KY Dept of Education
				%li
					%a{:href =>"http://www.kyvl.org/"} KY Virtual Library
				%li
					%a{:href =>"http://www.kyvs.org/"} KY Virtual Schools
				%li
					%a{:href =>"http://www.ket.org/"} KY Educational TV (KET)
				%li
					%a{:href =>"http://www.unitedstreaming.com"} KET Encyclomedia
				%li
					%a{:href =>"{% url pages_tis %}"} KY TIS Web Sites


{% endblock %}